@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020617;
  color: #ffffff;
}

body {
  @apply bg-brand-dark text-white antialiased selection:bg-brand-purple selection:text-white overflow-x-hidden;
}

@layer utilities {
  .glass {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}